<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= form_tag products_path, method: :get do %>
  <div class="form-group">
    <%= label_tag :search %>
    <%= text_field_tag :search, params[:search], class: 'form-control' %>
  </div>

  <div class="form-group row">
    <div class="col-6">
      <%= label_tag :min_price %>
      <%= text_field_tag :min_price, params.dig(:price, :min), name: 'price[min]', class: 'form-control' %>
    </div>

    <div class="col-6">
      <%= label_tag :max_price %>
      <%= text_field_tag :max_price, params.dig(:price, :max), name: 'price[max]', class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= submit_tag 'Search', class: 'btn btn-primary' %>
    <%= link_to 'Clear', products_path, class: 'btn btn-link' %>
  </div>
<% end %>

<table class="table mt-4">
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @products %>

<%= link_to 'New Product', new_product_path, class: 'btn btn-outline-primary mb-5' %>
